params {
    main_dir       = "C:/projects/sem_screen"
    rawdir         = "C:/projects/sem_screen/raw"
    outdir         = "C:/projects/sem_screen/processed"
    logdir         = "C:/projects/sem_screen/logs/wfSEM_local"
    script_dir     = "$projectDir"
    dryrun         = "TRUE"
    workflow_stage = "discover"
    sheet_mode     = "local"
    local_log      = "C:/projects/sem_screen/sem_image_log_local.tsv"

    sheet_url = "https://docs.google.com/spreadsheets/d/1jcpyMkSR4npSxST3D5cFzkAIi9UPmwbPvzAdr2ws55U/edit?gid=2132397683#gid=2132397683"
    collection_table_url = "https://docs.google.com/spreadsheets/d/15WNNnse7OvlfiJwFOFYbQA4zIp-5nKc0icRZYfJS--o/edit?gid=1643802951#gid=1643802951"
    google_key = "$projectDir/trec-tem-screen-e98a2e03f58b.json"

    container_tidyverse = "/g/schwab/marco/container_devel/probeDesign_rtool.sif"
    container_eubi      = "/g/schwab/marco/container_devel/eubibridge.sif"
    container_mc        = "/g/schwab/marco/container_devel/EMBL_mc_2024-05-03T11-21-07Z.sif"
    container_python    = "/g/schwab/marco/container_legacy/python_latest.sif"

    s3_bucket = "s3embl/semscreen"
    zarr_format = 2
}

process {
    withName:SELECTSEMIMAGES {
        container = "${params.container_tidyverse}"
        executor = "local"
    }
    withName:EXTRACTSEMMETADATA {
        container = "${params.container_python}"
    }
    withName:EUBISEMCONVERSION {
        container = "${params.container_eubi}"
    }
    withName:S3UPLOADSEM {
        container = "${params.container_mc}"
        executor = "local"
    }
    withName:COLLECTSEMS3FILES {
        container = "${params.container_mc}"
        executor = "local"
    }
    withName:MAKESEMCOLLECTIONTABLE {
        container = "${params.container_tidyverse}"
        executor = "local"
    }
}

singularity {
    enabled = false
}

profiles {
    local {
        executor.name = "local"
        singularity.enabled = false
        params.workflow_stage = "discover"
        params.sheet_mode = "local"
        params.dryrun = "TRUE"
    }

    interactive {
        executor.name = "local"
        singularity.enabled = true
        params.main_dir = "/g/schwab/sem_screen"
        params.rawdir = "/g/schwab/Chandni/SEM/IMATREC SEM"
        params.outdir = "/g/schwab/sem_screen/processed"
        params.logdir = "/g/schwab/sem_screen/logs/wfSEM_interactive"
        params.local_log = "/g/schwab/sem_screen/sem_image_log_local.tsv"
        params.script_dir = "/g/schwab/marco/repos/tem_classification/sem"
        params.workflow_stage = "process"
        params.sheet_mode = "local"
        params.dryrun = "TRUE"
    }

    cluster {
        singularity.enabled = true
        executor.name = "slurm"
        executor.perTaskReserve = false
        executor.perJobMemLimit = true
        executor.queueSize = 30
        executor.submitRateLimit = "3 sec"

        params.main_dir = "/g/schwab/sem_screen"
        params.rawdir = "/g/schwab/Chandni/SEM/IMATREC SEM"
        params.outdir = "/g/schwab/sem_screen/processed"
        params.logdir = "/g/schwab/sem_screen/logs/wfSEM_cluster"
        params.local_log = "/g/schwab/sem_screen/sem_image_log_local.tsv"
        params.script_dir = "/g/schwab/marco/repos/tem_classification/sem"
        params.workflow_stage = "all"
        params.sheet_mode = "google"
        params.dryrun = "FALSE"
    }
}
