



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/


// process {

//     withName:JUSTBLEND {
//         container = "${params.container_imod}"
//     }
//     withName:CORRECTIONBLEND {
//         container = "${params.container_imod}"
//     }
// }



singularity {
    enabled = true
}

// Profiles
profiles {

    cluster {
        executor.name            = "slurm"
        executor.perTaskReserve  = false
        executor.perJobMemLimit  = true
        executor.queueSize       = 30
        executor.submitRateLimit = "3 sec"
        
        //params.max_cpus          = 5
        //params.max_memory        = "5G"
        //params.max_time          = "0:10"
    }
}
