



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

params {
    main_dir       = "C:/projects/tem_screen"
    rawdir         = "C:/projects/tem_screen/raw"
    pngdir         = "C:/projects/tem_screen/pngs"
    outdir         = "C:/projects/tem_screen/processed"
    logdir         = "C:/projects/tem_screen/logs/wfTEM_local"
    script_dir     = "$projectDir"
    dryrun         = "TRUE"
    workflow_stage = "discover"
    sheet_mode     = "local"
    local_log      = "C:/projects/tem_screen/image_log_local.tsv"

    sheet_url = "https://docs.google.com/spreadsheets/d/143uVeeJ72SQE5eK01lzWYCEiT7pJUF3lX7hJl3R9s9I/edit?gid=258669282#gid=258669282"
    collection_table_url = "https://docs.google.com/spreadsheets/d/15WNNnse7OvlfiJwFOFYbQA4zIp-5nKc0icRZYfJS--o/edit?gid=1643802951#gid=1643802951"

    container_mrcfile    = "/g/schwab/marco/container_legacy/py_mrcfile.sif"
    container_imod       = "/g/schwab/marco/container_legacy/EMBL_IMOD_5.1.0-foss-2023a-CUDA-12.1.1.sif"
    container_tidyverse  = "/g/schwab/marco/container_devel/probeDesign_rtool.sif"
    container_eubi       = "/g/schwab/marco/container_devel/eubibridge.sif"
    container_mc         = "/g/schwab/marco/container_devel/EMBL_mc_2024-05-03T11-21-07Z.sif"
    container_segmentation = "/g/schwab/marco/container_devel/py_temscreen.sif"
    google_key           = "$projectDir/trec-tem-screen-e98a2e03f58b.json"
    imod_dir             = "/g/easybuild/x86_64/Rocky/8/haswell/software/IMOD/5.1.0-foss-2023a-CUDA-12.1.1"
    s3_bucket            = "s3embl/temscreen"
    zarr_format          = 2
    pixel_scale_x        = 1.766
    pixel_scale_y        = 1.766
    gradient_mode        = "auto"
    gradient_threshold   = 0.18
    gradient_downsample  = 16
    gradient_background_sigma = 20
}


process {
    withName:JUSTBLEND {
        container = "${params.container_imod}"
    }
    withName:CORRECTIONBLEND {
        container = "${params.container_imod}"
    }
    withName:EXPORTOVPNG {
        container = "${params.container_segmentation}"
    }
    withName:CORRECTGRADIENT {
        container = "${params.container_segmentation}"
    }
    withName:CHECKNEWIMAGES {
        container = "${params.container_tidyverse}"
        executor = "local"
    }
    withName:EUBICONVERSION {
        container = "${params.container_eubi}"
    }
    withName:S3UPLOAD {
        container = "${params.container_mc}"
    }
    withName:COLLECTS3FILES {
        container = "${params.container_mc}"
        executor = "local"
    }
    withName:MAKECOLLECTIONTABLE {
        container = "${params.container_tidyverse}"
        executor = "local"
    }


}





singularity {
    enabled = false
}

// Profiles
profiles {
    local {
        executor.name = "local"
        singularity.enabled = false

        params.main_dir       = "C:/projects/tem_screen"
        params.rawdir         = "C:/projects/tem_screen/raw"
        params.pngdir         = "C:/projects/tem_screen/pngs"
        params.outdir         = "C:/projects/tem_screen/processed"
        params.logdir         = "C:/projects/tem_screen/logs/wfTEM_local"
        params.local_log      = "C:/projects/tem_screen/image_log_local.tsv"
        params.sheet_mode     = "local"
        params.workflow_stage = "discover"
        params.dryrun         = "TRUE"
    }

    interactive {
        executor.name = "local"
        singularity.enabled = true

        params.main_dir       = "/scratch/rheinnec/tem_screen"
        params.rawdir         = "/scratch/rheinnec/tem_screen/raw"
        params.pngdir         = "/scratch/rheinnec/tem_screen/pngs"
        params.outdir         = "/scratch/rheinnec/tem_screen/processed"
        params.logdir         = "/scratch/rheinnec/tem_screen/logs/wfTEM_interactive"
        params.local_log      = "/scratch/rheinnec/tem_screen/image_log_local.tsv"
        params.script_dir     = "/g/schwab/marco/repos/tem_classification/scripts_marco"
        params.sheet_mode     = "local"
        params.workflow_stage = "process"
        params.dryrun         = "TRUE"

        process.executor = "local"
        process.cpus = { Math.min(task.cpus as int, 10) }
    }

    cluster {
        singularity.enabled       = true
        executor.name            = "slurm"
        executor.perTaskReserve  = false
        executor.perJobMemLimit  = true
        executor.queueSize       = 30
        executor.submitRateLimit = "3 sec"

        params.main_dir       = "/scratch/rheinnec/tem_screen"
        params.rawdir         = "/scratch/rheinnec/tem_screen/raw"
        params.pngdir         = "/scratch/rheinnec/tem_screen/pngs"
        params.outdir         = "/scratch/rheinnec/tem_screen/processed"
        params.logdir         = "/scratch/rheinnec/tem_screen/logs/wfTEM_cluster"
        params.local_log      = "/scratch/rheinnec/tem_screen/image_log_local.tsv"
        params.script_dir     = "/g/schwab/marco/repos/tem_classification/scripts_marco"
        params.sheet_mode     = "google"
        params.workflow_stage = "all"
        params.dryrun         = "FALSE"
        
        //params.max_cpus          = 5
        //params.max_memory        = "5G"
        //params.max_time          = "0:10"
    }
}



