params {
    main_dir       = "C:/projects/hitt_screen"
    input_table    = "C:/projects/hitt_screen/hitt_images.tsv"
    sheet_mode     = "local"
    sheet_url      = "https://docs.google.com/spreadsheets/d/1ePRpa56mmMvCeRTLXmwOywOLy5_I3AFrxJepSUYGR1s/edit?gid=0#gid=0"
    sheet_name     = ""
    google_key     = "$projectDir/trec-tem-screen-e98a2e03f58b.json"
    logdir         = "C:/projects/hitt_screen/logs/wfHITT_local"
    script_dir     = "$projectDir"
    dryrun         = "TRUE"
    dryrun_n       = 2
    workflow_stage = "discover"

    container_tidyverse = "/g/schwab/marco/container_devel/probeDesign_rtool.sif"
    container_eubi      = "/g/schwab/marco/container_devel/eubibridge.sif"
    container_mc        = "/g/schwab/marco/container_devel/EMBL_mc_2024-05-03T11-21-07Z.sif"

    s3_bucket   = "s3embl/hitttest"
    zarr_format = 2
    x_scale     = 100
    y_scale     = 100
    input_suffix = "recon_111_1/tomo"
    output_name = "omezarr"
    overwrite   = "FALSE"
}

process {
    withName:SELECTHITTIMAGES {
        container = "${params.container_tidyverse}"
        executor = "local"
    }
    withName:EUBIHITTCONVERSION {
        container = "${params.container_eubi}"
    }
    withName:S3UPLOADHITT {
        container = "${params.container_mc}"
        executor = "local"
    }
    withName:COLLECTHITTS3FILES {
        container = "${params.container_mc}"
        executor = "local"
    }
}

singularity {
    enabled = false
}

profiles {
    local {
        executor.name = "local"
        singularity.enabled = false
        params.workflow_stage = "discover"
        params.sheet_mode = "local"
        params.dryrun = "TRUE"
    }

    interactive {
        executor.name = "local"
        singularity.enabled = true
        params.main_dir = "/scratch/rheinnec/hitt_screen"
        params.input_table = "/scratch/rheinnec/hitt_screen/hitt_images.tsv"
        params.logdir = "/scratch/rheinnec/hitt_screen/logs/wfHITT_interactive"
        params.script_dir = "/g/schwab/marco/repos/tem_classification/hitt"
        params.workflow_stage = "process"
        params.sheet_mode = "google"
        params.dryrun = "FALSE"
    }

    cluster {
        singularity.enabled = true
        executor.name = "slurm"
        executor.perTaskReserve = false
        executor.perJobMemLimit = true
        executor.queueSize = 30
        executor.submitRateLimit = "3 sec"

        params.main_dir = "/scratch/rheinnec/hitt_screen"
        params.input_table = "/scratch/rheinnec/hitt_screen/hitt_images.tsv"
        params.logdir = "/scratch/rheinnec/hitt_screen/logs/wfHITT_cluster"
        params.script_dir = "/g/schwab/marco/repos/tem_classification/hitt"
        params.workflow_stage = "all"
        params.sheet_mode = "google"
        params.dryrun = "FALSE"
    }
}
